.section{
    margin: 58px 26px 0 26px;
    width: 480px;
    height: 580px;
    border-radius: 15px;
    background: #FDFDFD;
    box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 15px 15px 0 0;
    color: white;

}
.header *{
    color: white;
    margin: 0;
    font-weight: 600;
}
.icon{
    position: relative;
    right: 20px;
    z-index: 1;
    /* padding-right: 20px; */
    cursor: pointer;
}
.heading-black{
    padding: 0.88rem;
    margin-left: auto;
    margin-right: auto;
}
.false .padding-d{
    height: 0;
}